@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-slate-950 text-slate-50 antialiased;
}

a {
  @apply text-inherit no-underline;
}

main {
  @apply w-full;
}
